body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background_image.jpg') center/cover no-repeat fixed;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.container h1 {
    margin-top: 0;
    color: #333;
}

.message {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

#backLink {
    text-decoration: none;
    color: blue;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf4ff;
}

.user-name {
    color: rgb(255, 0, 170); 
    text-decoration: none; 
    margin-bottom: 100px;
}

.container {
    display: flex;
    height: 100vh;
}

.weller {
    display: block;
    text-align: center;
}

.sidebar {
    width: 250px;
    background-color: #282c34;
    color: #fff;
    padding-top: 12px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar h1 {
    font-size: 24px;
    font-weight: bold;
    color: #61dafb;
    margin-bottom: 20px;
    text-align: center;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
}

.nav-container a:not(.active):hover {
    background-color: #61dafb;
}

.nav-container a.active {
    background-color: #61dafb;
}

.nav-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-container li {
    margin-bottom: 10px;
}

.nav-container a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-container a:hover {
    background-color: #61dafb;
}

.header {
    background-color: #282c34;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.copyright{
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;
    background-color: #006493a0;
    text-align: left;
    position:absolute;
    left: 0%; 
    bottom: 0%;
    padding: 15px;
    margin-top: 20%;
    top: 85%;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.time {
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 1361px;
    width: 150px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    content: "$";
    position:relative;
    width: 30%;
    height: 95%;
    margin: 20px 0px 3%;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(13, 13, 13, 0.1);
}

.input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    border: 2px solid #a1a1a1;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(13, 13, 13, 0.1);
}

.input:hover {
    background-color: #cecece;
    transition: background-color 0.3s
}

.button {
    background-color: #7cdd0d;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #008e07;
}

.table-container {
    width: auto;
    margin-left: 3%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px; 
    position: relative; 
    text-align: left;
    overflow: auto;
}

.table {
    margin-top: 55px;
    border-radius: 10px;
    width: 100%;
    margin-left: 0;
    border-color: #1c1c1c;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table td:hover {
    background-color: #ddd;
}

.nav-container a:hover,
.button:hover {
    background-color: #61dafb;
    color: #fff;
}

.title {
    position: absolute;
    width: 120px;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    background-color: #7cdd0d;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius:10px ;
    height: 20px;
    white-space: nowrap;
}
