/* Global styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf4ff;
}

.user-name {
    color: rgb(255, 0, 170); 
    text-decoration: none; 
    margin-bottom: 100px;
}

/* Layout styles */
.container {
    display: flex;
    height: 100vh;
}

.weller {
    display: block;
    text-align: center;
}

.sidebar {
    width: 250px;
    background-color: #282c34;
    color: #fff;
    padding-top: 12px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar h1 {
    font-size: 24px;
    font-weight: bold;
    color: #61dafb;
    margin-bottom: 20px;
    text-align: center;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* Adjusted to accommodate the sidebar */
}

.nav-container a:not(.active):hover {
    background-color: #61dafb;
}

/* Apply hover effect to active link */
.nav-container a.active {
    background-color: #61dafb;
}

/* Navigation styles */
.nav-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-container li {
    margin-bottom: 10px;
}

.nav-container a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-container a:hover {
    background-color: #61dafb;
}

/* Header styles */
.header {
    background-color: #282c34;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

/* Footer styles */
.copyright{
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;
    background-color: #006493a0;
    text-align: left;
    position:absolute;
    left: 0%; 
    bottom: 0%;
    padding: 15px;
    margin-top: 20%;
    top: 85%;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.time {
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 15px; /* Adjust as needed */
    right: 1361px; /* Adjust as needed */
    width: 150px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}





/* Form styles */
.form-container {
    right: 17%;
    position: absolute;;
    width: 50%; /* Adjusted size */
    margin: 50px 0px 3%; /* Centered horizontally with 10% margin on the left */
    background-color: white;
    padding: 40px; /* Reduced padding */
    border-radius: 8px; /* Slightly reduced border radius */
    box-shadow: 0 2px 4px rgba(13, 13, 13, 0.1); /* Slightly reduced box shadow */

}

.input {
    font-size: larger;
    width: 100%;
    padding: 20px;
    margin: 5px 0 15px 0;
    border: 2px solid #a1a1a1;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(13, 13, 13, 0.1);
}
.input:hover {
    background-color: #cecece;
    transition: background-color 0.3s
}

.button {
    background-color: #7cdd0d;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

